<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .center{
      margin: 70px 100px;
      width: 50%;
      padding: 100px;
      align-content: center;
    }

    .body{
      background-image: url("https://www.google.com/logos/doodles/2020/celebrating-mary-somerville-6753651837108667-l.png");
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    </style>
  </head>
  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>
