{% extends 'base.html' %}

{% block content %}


<style>

li {
  float: left;
}

li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f3f3f3;
}

.horizontal{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  font-family : Georgia;
}
.grey{
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

</style>

{% load custom_tags %}

{% block title %} Home {% endblock %}
<ul class="horizontal grey">
  <li>
    <a href="#">{% getuserprofile request.user.id %} Hello {{request.user}} </a>
  </li>
  <li>
    <a href="/alljobs">Apply for Jobs</a>
  </li>
  <li>
      <a href="/appliedjobs">My Applied Jobs</a>
  </li>
  <li style="float:right">
      <a href="/auth/logout">Logout</a>
  </li>
</ul>
{% endblock %}
