{% block content %}

<style>

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 3px solid #e7e7e7;
text-align: left;
padding: 18px;
}

li {
  float: left;
}

li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f3f3f3;
}

.horizontal{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  font-family : Georgia;
}
.grey{
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
{% load custom_tags %}
</style>
<ul class="horizontal grey">
  <li>
   <a href="#">{% getuserprofile request.user.id %} : {{request.user}}</a>
  </li>
  <li>
    <a href="/addjob"> Post Job</a>
  </li>
  <li>
    <a href="/allpostedjobs">All posted jobs</a>
  </li>
  <li style="float:right">
    <a href="/auth/logout">Logout</a>
  </li>
</ul>
<br>
<div class="jumbotron">
  {% if all_applicants %}
  <table>
    <tr>
      <th>Sr. No</th>
      <th>Job Title</th>
      <th>Location</th>
      <th>Candidate</th>
    </tr>
    {% for applicant in all_applicants %}
    <tr>
      <td>
        {{forloop.counter}}
      </td>
      <td>
        {{applicant.Job.title}}
      </td>
      <td>
        {{applicant.Job.location}}
      </td>
      <td>
        {{applicant.Applicant}}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <h2>No Applicant Applied</h2>
  {% endif %}
<br>
</div>
{% endblock %}
