{% extends 'base.html' %}

{% block content %}
<style>

li {
  float: left;
}

li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f3f3f3;
}

.horizontal{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7
}
.grey{
border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

</style>

<ul class="horizontal grey">
  <li>
   <a href="#">hello {{request.user}}</a>
  </li>
  <li>
    <a href="/addjob">Add a New Job</a>
  </li>
  <li>
    <a href="/allpostedjobs"> Show All my posted jobs</a>
  </li>
  <li>
    <a href="/auth/logout">Logout</a>
  </li>
</ul>
{% endblock %}
